.bar {
	width: 240px;
	height: 6px;
	border-radius: 10px;
	background-color: var(--letter-primary);
}

.bar .progress {
	height: 100%;
	position: relative;
	background-color: var(--bar-color);
	border-radius: inherit;
}

.bar-numbers {
	display: flex;
	justify-content: space-between;
	font-size: 12px;
}

.humidity-number {
	display: flex;
	align-items: center;
	gap: 8px;
}

.humidity-number span {
	font-size: 60px;
	font-weight: bold;
}

.humidity-number p {
	font-size: 30px;
}
