.square {
	width: 120px;
	height: 140px;
	background-color: var(--primary-color);
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-direction: column;
	color: var(--letter-primary);
}

.square .weather-img {
	width: 50px;
	height: 60px;
}

.square .temperatures {
	display: flex;
	align-items: center;
	gap: 12px;
}

.square .temperatures .min {
	color: var(--letter-secondary);
}
