.city-info {
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	background-color: var(--primary-color);
	position: relative;
}

.city-info::before {
	content: '';
	background-image: url('../../weather-app-master/Cloud-background.png');
	background-repeat: no-repeat;
	background-position: top center;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0.1;
}

.city-info .search-btn {
	width: 100%;
	display: flex;
	justify-content: space-around;
}

.city-info .search-btn .btn {
	color: var(--letter-primary);
	background-color: var(--bg-color);
	border: none;
	padding: 10px;
	user-select: none;
	z-index: 10;
}

.city-info .search-btn .btn.places {
	border-radius: 4px;
}

.city-info .search-btn .btn:hover {
	color: var(--bg-color);
	background-color: var(--letter-primary);
}

.city-info .search-btn .btn.icon {
	border-radius: 50%;
}

.city-info .search-btn .btn.icon:hover img {
	stroke: blue;
}

.city-info .temperature .temp-number {
	color: var(--letter-primary);
	font-size: 100px;
}
.city-info .temperature .temp-unit {
	color: var(--letter-secondary);
	font-size: 30px;
	z-index: 5;
}

.city-info .weather-type {
	color: var(--letter-secondary);
	font-size: 44px;
}

.city-info .date-location-cont {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
	color: var(--letter-darker);
	font-size: 14px;
}

.city-info .date-location-cont .location {
	display: flex;
	align-items: center;
	gap: 6px;
}
