.App {
	display: flex;
}

.App .aside {
	width: 30%;
}

.App .main {
	width: 70%;
	padding: 30px 120px 0px 120px;
	color: var(--letter-primary);
}

.App .main .degrees-cont {
	position: absolute;
	top: 10px;
	right: 118px;
	display: flex;
	gap: 10px;
}

.App .main .degrees-cont .degrees {
	all: unset;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background-color: var(--degrees-color);
	text-align: center;
	font-weight: 600;
}

.App .main .degrees-cont .degrees.active {
	color: var(--bg-color);
	background-color: var(--letter-primary);
}
